﻿@using CoreMigroup.Repository.KhachHangRepository
@using CoreMigroup.Repository.UserRoleRepository
@using CoreMigroup.Repository.UserRepository
@using CoreMigroup.Models
@using CoreMigroup.Helper
@using CoreMigroup.Enum
@inject IUserHelper _userHelper
@inject IUserRoleRepository _userRoleRepository
@inject IKhachHangRepository _khachHangRepository
@inject IUserRepository _userRepository
@model KhachHang;


<div class="modal-dialog modal-lg">
    <form class="modal-content" id="save-khach-hang-form" data-id="@Model.Id">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Khách hàng</h4>
        </div>
        <div class="modal-body" id="binding-phan-quyen">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="txt-ten">Họ và tên:</label>
                        <input type="text" class="form-control" id="txt-ten" name="txt-ten" placeholder="Nhập tên khách hàng" value="@Model.Ten">
                    </div>
                    <div class="col-md-4">
                        <label for="txt-email">Email:</label>
                        <input type="text" class="form-control" id="txt-email" name="txt-email" placeholder="Nhập email khách hàng" value="@Model.Email">
                    </div>
                    <div class="col-md-4">
                        <label for="slb-chon-loai-khach-hang">Loại khách hàng</label>
                        @{
                            var loaiKh = _khachHangRepository.GetDanhMucKhachHangAsync().Result;
                            var query_loai_kh = from l in loaiKh select new { tag = l, value = l };
                        }
                        <input type="text" class="form-control" id="slb-chon-loai-khach-hang" value="@(!string.IsNullOrEmpty(Model.DanhMucKhachHang) ? Model.DanhMucKhachHang : "")" name="slb-chon-loai-khach-hang" data-danhmuc="@Newtonsoft.Json.JsonConvert.SerializeObject(query_loai_kh)">
                    </div>

                </div>
                <div class="row" style="margin-top: 2%">
                    <div class="col-md-4">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12"><label for="radio-gioi-tinh">Giới tính:</label></div>
                                </div>
                                <input type="radio" id="male" name="radio-gioi-tinh" value="1" @(Model.GioiTinh == 1 ? "Checked" : "")>
                                <label for="male">Nam</label>
                                <input type="radio" id="female" name="radio-gioi-tinh" value="2" @(Model.GioiTinh == 2 ? "Checked" : "")>
                                <label for="male">Nữ</label>
                            </div>
                            <div class="col-md-6">

                                <label>Date:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="txt-ngay-sinh" >
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="txt-cmnd">Chứng minh nhân dân:</label>
                        <input type="text" class="form-control" id="txt-cmnd" name="txt-cmnd" placeholder="Nhập CMND" value="@Model.SoCMND">
                    </div>
                    <div class="col-md-4">
                        <label for="slb-nguon-khach-hang">Nguồn khách hàng</label>
                        @{
                            var nguonKH = _khachHangRepository.GetNguonKhachHangAsync().Result;
                            var query_nguon_kh = from l in nguonKH select new { tag = l, value = l };
                        }
                        <input type="text" class="form-control" id="slb-nguon-khach-hang" value="@(!string.IsNullOrEmpty(Model.NguonKhachHang) ? Model.NguonKhachHang : "")" data-nguon="@Newtonsoft.Json.JsonConvert.SerializeObject(query_nguon_kh)">
                    </div>

                </div>
                <div class="row" style="margin-top: 2%">
                    <div class="col-md-4">
                        <label for="txt-dia-chi">Địa chỉ:</label>
                        <input type="text" class="form-control" id="txt-dia-chi" name="txt-dia-chi" placeholder="Nhập Địa chỉ" value="@Model.DiaChi">
                    </div>
                    <div class="col-md-4">
                        <label for="txt-so-dien-thoai">Số điện thoại:</label>
                        <input type="text" class="form-control" id="txt-so-dien-thoai" name="txt-so-dien-thoai" placeholder="Nhập số điện thoại" value="@Model.SoDienThoai">
                    </div>
                    <div class="col-md-4">

                        <label for="slb-chon-nhan-vien-phu-trach">Nhân viên phụ trách</label>


                        <select class="form-control" id="slb-chon-nhan-vien-phu-trach" name="slb-chon-nhan-vien-phu-trach" style="width: 100%;">
                            @{
                                var lsUser = _userRepository.GetUserByLoaiUser((int)LoaiUserEnum.NhanVien);
                                foreach (var item in lsUser)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            }

                        </select>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Đóng</button>
            <button type="submit" id="luu-khach-hang" data-id="@Model.Id" class="btn btn-success">Lưu</button>
        </div>
    </form>
</div>