﻿@using CoreMigroup.Repository.UserRoleRepository
@using CoreMigroup.Helper
@inject IUserHelper _userHelper
@model List<KhachHang>
@{
    var total = int.Parse(ViewBag.Total.ToString());
    var index = int.Parse(ViewBag.Index.ToString());
    var size = int.Parse(ViewBag.Size.ToString());
    var currentUserId = _userHelper.GetCurrentUserAsync().Result.Id;
}
<div class="chi-tiet-phan-trang" data-index="@index" data-size="@size" data-total="@total" style="display:none;"></div>
<table id="example2" class="table table-bordered panel">
    <thead>
        <tr>
            <th>ID</th>
            <th>Họ Tên</th>
            <th>Số điện thoại</th>
            <th>Giới tính</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Số CMND</th>
            <th>Người tạo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="item-file" data-id="@item.Id" data-toggle="collapse" data-target="#row_@item.Id" data-parent="#tbl-data-dn">

                <td>@item.Id</td>
                <td>@item.Ten</td>
                <td>@item.SoDienThoai</td>
                <td>@(item.GioiTinh == 1 ? "Nam" : "Nữ")</td>
                <td>@item.Email</td>
                <td>@item.DiaChi</td>
                <td>@item.SoCMND</td>
                <td>@item.GetNguoiTao.TenDayDu</td>
                <td><a href="javascript:void(0)" class="edit-khach-hang" data-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a></td>

            </tr>
         }
    </tbody>

</table>
