﻿@using CoreMigroup.Repository.FileUploadRepository;
@using CoreMigroup.Repository.FolderRepository;
@using CoreMigroup.Repository.UserRoleRepository;
@using CoreMigroup.Helper;
@using CoreMigroup.Enum;
@inject IFileUploadRepository _fileRepo;
@inject IFolderRepository _folderRepo;
@inject IUserRoleRepository _userRoleRepo;
@inject IUserHelper _userHelper;
@{
    ViewData["Title"] = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = _userHelper.GetCurrentUserAsync().Result;
}

@section styles{
    <style>
        #quan-ly-files-modal .modal {
            position: relative;
            top: auto;
            bottom: auto;
            right: auto;
            left: auto;
            display: block;
            z-index: 1;
        }

        #quan-ly-files-modal .modal {
            background: transparent !important;
        }
    </style>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh sách file

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="search-folder">
                                    Danh mục file
                                </label>
                                <select class="form-control" id="slb-folder-search" multiple="multiple" name="search-folder" data-placeholder="Chọn Folder"
                                        style="width: 100%;">
                                    @{
                                        var lsFolder = _folderRepo.GetAll().Where(r => r.IsDaXoa != true);
                                        foreach (var item in lsFolder)
                                        {
                                            <option value="@item.Id">@item.Ten</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="search-thoi-gian-upload">
                                    Thời gian
                                </label>
                                <div class="input-group" name="search-thoi-gian-upload">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="txb-thoi-gian-upload">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="search-folder">
                                    Keyword
                                </label>
                                @*<input type="text" name="search-folder" id="txtSearch" class="form-control" placeholder="Nhập keyword cần tìm kiếm" />*@
                                <input type="text" name="search-folder" class="form-control" id="txb-keyword-file-upload" placeholder="Nhập keyword cần tìm kiếm" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-12">
                        <label for="group-button-action">Hành động <br /></label>
                        <div class="btn-group" name="group-button-action">



                            @if (_userRoleRepo.CheckRoleByRoleNameAndUserId(user.Id, TenRoleEnum.Admin.ToString()))
                            {


                                <button type="button" class="btn btn-default btn-flat" id="btn-tim-kiem-file"><i class="fa fa-search"></i></button>
                                <button type="button" class="btn btn-default btn-flat" id="create-file-upload"><i class="fa fa-upload"></i></button>
                                <button type="button" class="btn btn-default btn-flat delete_file "><i class="fa fa-trash"></i></button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-default btn-flat" id="btn-tim-kiem-file"><i class="fa fa-search"></i></button>
                                @*<button type="button" class="btn btn-default btn-flat open-upload-files-component"><i class="fa fa-upload"></i></button>*@
                                @*<button type="button" class="btn btn-default btn-flat delete_file "><i class="fa fa-trash"></i></button>*@
                            }


                        </div>
                    </div>
                </div>

            </div>
            <div class="box-body table-responsive no-padding binding-data " id="tbl-file-upload">
                @*@await Component.InvokeAsync("ListFileUploads", new { request = new param_GetFileUpload() })*@
            </div>

            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <div class="binding-phan-trang"></div>

                <ul class="pagination pagination-sm no-margin pull-right">

                    @*<li><a href="javascript:void(0)">«</a></li>
            <li><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">»</a></li>*@

                </ul>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="save-file-upload-modal">

</div>
@await Component.InvokeAsync("QuanLyFile")
@section scripts{
    <script src="~/js/controller/fileUploadsController.js"></script>
}
