﻿@using CoreMigroup.Repository.KhachHangRepository
@using CoreMigroup.Repository.UserRoleRepository
@using CoreMigroup.Repository.UserRepository
@using CoreMigroup.Models
@using CoreMigroup.Helper
@using CoreMigroup.Enum
@using CoreMigroup.Repository.SanPhamRepository
@inject IUserHelper _userHelper
@inject IUserRoleRepository _userRoleRepository
@inject IKhachHangRepository _khachHangRepository
@inject IUserRepository _userRepository
@inject ISanPhamRepository _sanPhamRepository
@model NhaCungCap;
@{ 
   var sp = _sanPhamRepository.GetAll().Where(x => x.NhaCungCapId.Equals(Model.Id)).Where(y => y.IsDaXoa == null);
}
<div class="modal-dialog modal-lg" style="width: 90%">
    <form class="modal-content" id="save-nha-cung-cap-form" data-id="@Model.Id">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">alo</h4>
        </div>

        <div class="modal-body" id="binding-phan-quyen">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-10">
                        <div class="row">
                            <h4>Thông tin nhà cung cấp</h4>
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="txt-ten">Mã nhà cung cấp:</label>
                                <input type="text" class="form-control" id="txt-ma-ncc" name="txt-ma-ncc" value="@Model.Ma" placeholder="Nhập mã nhà cung cấp">
                            </div>
                            <div class="col-md-4">
                                <label for="txt-ten">Email:</label>
                                <input type="text" class="form-control" id="txt-email" name="txt-email" value="@Model.Email" placeholder="Nhập email">
                            </div>
                            <div class="col-md-4">
                                <label for="txt-ten">Tên tài khoản:</label>
                                <input type="text" class="form-control" id="txt-ten-tai-khoan" name="txt-ten-tai-khoan" value="@Model.TenTaiKhoan" placeholder="Nhập tên tài khoản">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                            <div class="col-md-4">
                                <label for="txt-ten">Tên nhà cung cấp:</label>
                                <input type="text" class="form-control" id="txt-ten-ncc" name="txt-ten-ncc" value="@Model.Ten" placeholder="Nhập tên nhà cung cấp">
                            </div>
                            <div class="col-md-4">
                                <label for="txt-ten">Quốc gia:</label>
                                <input type="text" class="form-control" id="txt-ten-quoc-gia" name="txt-ten-quoc-gia" value="@Model.QuocGia" placeholder="Nhập tên quốc gia">
                            </div>
                            <div class="col-md-4">
                                <label for="txt-ten">Số tài khoản:</label>
                                <input type="text" class="form-control" id="txt-stk" name="txt-stk" value="@Model.SoTaiKhoan" placeholder="Nhập số tài khoản">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 3%;">
                            <div class="col-md-4">
                                <label for="txt-ten">Số điện thoại:</label>
                                <input type="text" class="form-control" id="txt-sdt" name="txt-sdt" value="@Model.SoDienThoai" placeholder="Nhập số điện thoại">
                            </div>
                            <div class="col-md-4">
                                <label for="txt-ten">Địa chỉ:</label>
                                <input type="text" class="form-control" id="txt-dia-chi" name="txt-dia-chi" value="@Model.DiaChi" placeholder="Nhập địa chỉ nhà cung cấp">
                            </div>
                            <div class="col-md-4">
                                <label for="txt-ten">Ngân hàng:</label>
                                <input type="text" class="form-control" id="txt-ten-ngan-hang" name="txt-ten-ngan-hang" value="@Model.NganHang" placeholder="Nhập tên ngân hàng">
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5%;">
                            <h4>Sản phẩm</h4>
                            <hr />
                        </div>

                        <div class="row" id="binding-san-pham-ncc">
                            <div class="row" id="template-add-san-pham" data-idsp="0" style="margin-top: 3%; display:none;">
                                <div class="col-md-2">
                                    <label for="txt-ten">Tên sản phẩm:</label>
                                    <input type="text" class="form-control txt-ten-san-pham" data-sp="" placeholder="Tên sản phẩm">
                                </div>
                                <div class="col-md-2">
                                    <label for="txt-ten">Giá bán:</label>
                                    <input type="text" class="form-control txt-gia-ban" placeholder="Nhập giá khuyến mãi">
                                </div>
                                <div class="col-md-2">
                                    <label for="txt-ten">Giá khuyến mãi:</label>
                                    <input type="text" class="form-control txt-gia-khuyen-mai" placeholder="Nhập giá khuyến mãi">
                                </div>
                                <div class="col-md-2">
                                    <label for="txt-ten">Giá nhập:</label>
                                    <input type="text" class="form-control txt-gia-nhap" placeholder="Nhập giá đầu vào">
                                </div>
                                <div class="col-md-2">
                                    <label for="txt-ten">Đơn vị tính:</label>
                                    <input type="text" class="form-control txt-don-vi-tinh" placeholder="Nhập đơn vị tính">
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <label for="txt-ten">Ghi chú:</label>
                                            <input type="text" class="form-control txt-ghi-chu">
                                        </div>
                                        <div class="col-md-3" style="margin-top: 6%;">
                                            <br />
                                            <span><a href="javascript:void(0)" class="xoa"><i class="glyphicon glyphicon-trash"></i></a></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            @if (sp != null)
                            {
                                foreach (var item in sp)
                                {
                                    <div class="row cloned-san-pham" data-idsp="@item.Id" style="margin-top: 3%;">
                                        <div class="col-md-2">
                                            <label for="txt-ten">Tên sản phẩm:</label>
                                            <input type="text" class="form-control txt-ten-san-pham" data-sp="@item.Id" value="@item.Ten" placeholder="Tên sản phẩm">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="txt-ten">Giá bán:</label>
                                            <input type="text" class="form-control txt-gia-ban" value="@item.GiaBan" placeholder="Nhập giá khuyến mãi">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="txt-ten">Giá khuyến mãi:</label>
                                            <input type="text" class="form-control txt-gia-khuyen-mai" value="@item.GiaKhuyenMai" placeholder="Nhập giá khuyến mãi">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="txt-ten">Giá nhập:</label>
                                            <input type="text" class="form-control txt-gia-nhap" value="@item.GiaNhap" placeholder="Nhập giá đầu vào">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="txt-ten">Đơn vị tính:</label>
                                            <input type="text" class="form-control txt-don-vi-tinh" value="@item.DonViTinh" placeholder="Nhập đơn vị tính">
                                        </div>
                                        <div class="col-md-2">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <label for="txt-ten">Ghi chú:</label>
                                                    <input type="text" class="form-control txt-ghi-chu" value="@item.GhiChu">
                                                </div>
                                                <div class="col-md-3" style="margin-top: 6%;">
                                                    <br />
                                                    <span><a href="javascript:void(0)" class="xoa-sp" data-idSp="@item.Id"><i class="glyphicon glyphicon-trash"></i></a></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <br />
                                <a href="javascript:void(0)" id="btn-add-san-pham" class="btn btn-success ">+</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Đóng</button>
            <button type="submit" id="luu-khach-hang" class="btn btn-success" data-id="@Model.Id">Lưu</button>
            @*<a href="javascript:void(0)" id="clickme">content</a>*@
        </div>
    </form>
</div>