﻿@using CoreMigroup.Repository.UserRoleRepository
@using CoreMigroup.Helper
@inject IUserHelper _userHelper
@model List<NhaCungCap>
@{
    var total = int.Parse(ViewBag.Total.ToString());
    var index = int.Parse(ViewBag.Index.ToString());
    var size = int.Parse(ViewBag.Size.ToString());
    var currentUserId = _userHelper.GetCurrentUserAsync().Result.Id;
}
<div class="chi-tiet-phan-trang" data-index="@index" data-size="@size" data-total="@total" style="display:none;"></div>
<table id="example2" class="table table-bordered panel">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên nhà CC</th>
            <th>Mã nhà CC</th>
            <th>Sdt</th>
            <th>Quốc gia</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Chủ tài khoản</th>
            <th>Số tk</th>
            <th>Tên ngân hàng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="item-file" data-id="@item.Id" data-toggle="collapse" data-target="#row_@item.Id" data-parent="#tbl-data-dn">

                <td>@item.Id</td>
                <td>@item.Ten</td>
                <td>@item.Ma</td>
                <td>@item.SoDienThoai</td>
                <td>@item.QuocGia</td>
                <td>@item.Email</td>
                <td>@item.DiaChi</td>
                <td>@item.TenTaiKhoan</td>
                <td>@item.SoTaiKhoan</td>
                <td>@item.NganHang</td>
                <td><a href="javascript:void(0)" class="edit-ncc" data-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a></td>

            </tr>
        }
    </tbody>

</table>
