﻿@using Microsoft.AspNetCore.Identity
@using CoreMigroup.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/AdminLTE-2.4.18/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">@User.Identity.Name</span>
        </a>
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
                <img src="~/AdminLTE-2.4.18/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                    Alexander Pierce - Web Developer
                    <small>Member since Nov. 2012</small>
                </p>
            </li>
            <li class="user-footer">

                <div class="pull-left">
                    <a class="btn btn-default btn-flat" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                    @*<a href="#" class="btn btn-default btn-flat">Profile</a>*@
                </div>
                <div class="pull-right">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Identity/Account/Login" method="post">
                                <button type="submit" class="btn btn-default btn-flat">Logout</button>
                            </form>
                        }
                    }



                </div>
            </li>


        </ul>

    </li>
}
else
{
    <li class="dropdown user user-menu">

        <a asp-area="Identity" asp-page="/Account/Login" class="">Sign in</a>

    </li>
}

@*<ul class="navbar-nav">

        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>*@
