﻿@using CoreMigroup.Repository.DataDoanhNghiepRepository;
@inject IDataDoanhNghiepRepository _dataDN ;


@{
    ViewData["Title"] = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh sách

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="search-folder">
                                    Keyword
                                </label>
                                <input type="text" name="search-folder" class="form-control" id="txb-keyword-dataDN" placeholder="Nhập keyword cần tìm kiếm" />
                            </div>
                            <div class="col-md-2">
                                <label for="group-button-action">
                                    Hành động
                                </label><br />
                                <div class="btn-group" name="group-button-action">
                                    <button type="button" class="btn btn-default btn-flat" id="btn-tim-kiem-DN"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="box-body table-responsive no-padding binding-data" >
                @await Component.InvokeAsync("GetListDataDN", new { request = new param_GetDataDN() })
            </div>

            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <div class="binding-phan-trang">

                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.row -->
    </section>

    <!-- /.content -->
</div><!-- /.content -->
@section scripts{
    <script src="~/js/controller/dataDNController.js"></script>
    @*<script src="~/js/controller/userController.js"></script>*@

}
