﻿
@using CoreMigroup.Repository.FileUploadRepository
@inject IFileUploadRepository _fileUploadRepo
@{
    var folderId = (int)ViewBag.FolderId;
    //var lsFile = _fileUploadRepo.GetByCondition(expression: b => b.FolderId == folderId, out t, false, 1, 9);
    var lsFile = _fileUploadRepo.GetAll().Where(r => r.FolderId == folderId).ToList();
}

<div class="row">

    @foreach (var item in lsFile)
    {
        <div class="col-md-3">
            <a href="javascript:void(0)" data-url="@item.DuongDan" class="select-file-in-folder">
                <img src="@item.Avatar" style="max-width:100%; max-height:150px" />
                <div class="info-file">
                    <p style="word-wrap: break-word;">@item.Ten</p>
                </div>
            </a>
        </div>
    }

</div>