﻿@using CoreMigroup.Repository.DataDoanhNghiepRepository;
@inject IDataDoanhNghiepRepository _dataDN;

@model List<DataDoanhNghiep>
@{
    var total = int.Parse(ViewBag.Total.ToString());
    var index = int.Parse(ViewBag.Index.ToString());
    var size = int.Parse(ViewBag.Size.ToString());
}
<div class="chi-tiet-phan-trang" data-index="@index" data-size="@size" data-total="@total" style="display:none;"></div>
<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Mã số thuế</th>
            <th>Tên công ty</th>
            <th>ĐT</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Người đại diện</th>
            <th>Ngày thành lập</th>
            <th>Engine version</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="item-file" data-id="@item.Id" data-toggle="collapse" data-target="#row_@item.Id" data-parent="#tbl-data-dn">

            <td>@item.Id</td>
            <td>@item.MaSoThue</td>
            <td><a href="javascript:void(0)" @*class="edit-file-upload"*@ data-id="@item.Id">@item.TenCongTy</a></td>
            <td>@item.SoDienThoai</td>
            <td>@item.Email</td>
            <td>@item.DiaChiTruSo</td>
            <td>@item.TenNguoiDaiDien</td>
            <td>@item.NgayThanhLap</td>

        </tr>

            <tr>
                <td colspan="12" style="padding: 0 !important;">
                    <div class="panel-collapse collapse" id="row_@item.Id">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td style="width:80%">@Html.Raw(item.MoTa)</td>
                                    <td>
                                        <div class="btn-group" name="group-button-action">
                                            <button type="button" class="btn btn-default btn-flat edit-data-dn" data-id="@item.Id"><i class="fa fa-fw fa-edit"></i> Chỉnh sửa</button>
                                            <button type="button" class="btn btn-default btn-flat dong-bo-du-lieu-data-dn" data-id="@item.Id"><i class="fa fa-fw fa-edit"></i> Đồng bộ dữ liệu</button>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Mã số thuế</th>
            <th>Tên công ty</th>
            <th>ĐT</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Người đại diện</th>
            <th>Ngày thành lập</th>
            <th>Engine version</th>
        </tr>
    </tfoot>
</table>
