﻿
@{
    ViewData["Title"] = "HienThiThongTin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="min-height: 1135.8px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Mở khóa tài khoản
            
        </h1>

    </section>


    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <!-- info row -->
        <div class="row invoice-info">
            <p class="lead">Thông tin các gói:</p>
            <div class="col-sm-4 invoice-col">

                <address>
                    <strong>Tải xuống excecl doanh nghiệp</strong><br>
                    <strong>Giá:</strong><span>100.000 vnđ</span>
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">

                <address>
                    <strong>Tải xuống tất cả</strong><br>
                    <strong>Giá:</strong><span>500.000 vnđ</span>
                </address>
            </div>

        </div>
        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <p class="lead">Phương thức thanh toán:</p>
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Stt</th>
                            <th>Chủ tài khoản</th>
                            <th>Số tài khoản</th>
                            <th>Tên ngân hàng</th>
                            <th>Dịch vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Nguyễn Văn A</td>
                            <td>037510002015</td>
                            <td>BIDV</td>
                            <td>Chuyển khoản</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Nguyễn Văn A</td>
                            <td>0921111111</td>
                            <td>MoMo</td>
                            <td>Chuyển khoản</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Nguyễn Văn A</td>
                            <td>037510002015</td>
                            <td>Vietcombank</td>
                            <td>Chuyển khoản</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
        
            <div class="col-xs-12">
                <p class="lead">Thông tin liên hệ:</p>

                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 10%;">Facbook:</th>
                                <td><a href="#">facebook.com</a></td>
                            </tr>
                            <tr>
                                <th>Zalo:</th>
                                <td>0912232211</td>
                            </tr>
                            <tr>
                                <th>Số điện thoại:</th>
                                <td>01234567890</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- this row will not appear when printing -->
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>

