﻿@using CoreMigroup.Models;
@model DichVu;


<div class="modal-dialog modal-lg">
    <form class="modal-content" id="save-dich-vu-form" data-id="@Model.Id">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Dịch vụ</h4>
        </div>
        <div class="modal-body" id="binding-phan-quyen">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <label for="txt-ten">Tên dịch vụ</label>
                        <input type="text" class="form-control" id="txt-ten-dv" name="txt-ten" placeholder="Nhập tên dịch vụ" value="@Model.Ten">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Đóng</button>
            <button type="submit" id="luu-khach-hang" data-id="" class="btn btn-success">Lưu</button>
        </div>
    </form>
</div>
