﻿@using CoreMigroup.Repository.UserRoleRepository
@using CoreMigroup.Helper
@inject IUserHelper _userHelper
@model List<DichVu>

@{
    var total = int.Parse(ViewBag.Total.ToString());
    var index = int.Parse(ViewBag.Index.ToString());
    var size = int.Parse(ViewBag.Size.ToString());
    var currentUserId = _userHelper.GetCurrentUserAsync().Result.Id;
}
<div class="chi-tiet-phan-trang" data-index="@index" data-size="@size" data-total="@total" style="display:none;"></div>
<table id="example2" class="table table-bordered panel">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên dịch vụ</th>
            <th>Người tạo</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="item-file" data-id="@item.Id" data-toggle="collapse" data-target="#row_@item.Id" data-parent="#tbl-data-dn">

                <td>@item.Id</td>
                <td>@item.Ten</td>
                <td>@item.GetNguoiTao.TenDayDu</td>
                <td class="text-center">
                    <a href="javascript:void(0)" class="edit-dich-vu" data-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="javascript:void(0)" class="delete-dich-vu" data-id="@item.Id" style="padding-left: 10%;"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>