﻿@using CoreMigroup.Models
@using CoreMigroup.Repository.ChiTietThongBaoRepository
@inject IChiTietThongBaoRepository _chiTietThongBaoRepository

    @{
        var user = (int)ViewBag.UserId;
        var index = (int)ViewBag.Index;
        var size = (int)ViewBag.Size;
        var t = 0;
        var l = _chiTietThongBaoRepository.GetAll().Where(r => r.IdNguoiNhan == user).OrderByDescending(r => r.NgayTao).Skip((index-1)*size).Take(size);
        //var lsThongBao = _chiTietThongBaoRepository.GetByCondition(r => r.IdNguoiNhan == user, out t, false, index, 1).ToList();
        foreach (var item in l)
        {
            var chua_xem_color = "";
            var class_chua_xem = "";
            if (!item.IsDaXem)
            {
                chua_xem_color = "#f4e6b2";
                class_chua_xem = "un-seen";
            }
            else
            {
                chua_xem_color = "unset";
            }

            <li style="background-color:@chua_xem_color;" class="@class_chua_xem" data-id="@item.Id">
                <a href="javascript:void(0)">
                    <i class="fa fa-users text-aqua"></i> @item.NoiDungThongBao
                </a>
            </li>


        }
    }
