﻿@using CoreMigroup.Models
@using CoreMigroup.Repository.ChiTietThongBaoRepository
@using CoreMigroup.Helper 
@inject IChiTietThongBaoRepository _chiTietThongBaoRepository
@inject IUserHelper _userHelper
@model ApplicationUser
@{ 
    var userId = _userHelper.GetCurrentUserAsync().Result.Id;
    var soThongBaoMoi = _chiTietThongBaoRepository.GetAll().Where(r => !r.IsDaXem && r.IdNguoiNhan == userId).Count();

}
<li class="dropdown notifications-menu" id="nut-show-thong-bao">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="label label-warning" id="so-thong-bao-moi">@soThongBaoMoi</span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu" id="binding_list_thong_bao">


                
            </ul>
        </li>
    </ul>
</li>