﻿@using CoreMigroup.Repository.FileUploadRepository
@using CoreMigroup.Repository.UserRoleRepository
@using CoreMigroup.Models
@using CoreMigroup.Helper
@using CoreMigroup.Enum
@inject IUserHelper _userHelper
@inject IUserRoleRepository _userRoleRepository


@model List<FileUpload>
@{
    var total = int.Parse(ViewBag.Total.ToString());
    var index = int.Parse(ViewBag.Index.ToString());
    var size = int.Parse(ViewBag.Size.ToString());
    var currentUserId = _userHelper.GetCurrentUserAsync().Result.Id;
    var isQuyenDownload = _userRoleRepository.CheckRoleByRoleNameAndUserId(currentUserId, TenRoleEnum.ChoPhepDownload.ToString());
}
<div class="chi-tiet-phan-trang" data-index="@index" data-size="@size" data-total="@total" style="display:none;"></div>
<table class="table table-bordered panel">
    <tbody class="">
        <tr class="header">
            <th style="width: 10px">#</th>
            @*<th style="width: 10px">STT</th>*@
            <th>Tên file</th>
            <th>Loại file</th>
            <th>Danh mục file</th>
            <th>Người tạo</th>
            <th>Ngày tạo</th>
            <th>Số lần tải</th>
            <th>Download</th>
            @*<th style="width: 40px">Label</th>*@
        </tr>
        @*@{
            var count = 0;
        }*@
        @foreach (var item in Model)
        {
    <tr class="item-file" data-id="@item.Id" data-toggle="collapse" data-target="#row_@item.Id" data-parent="#tbl-file-upload">
        <td><input type="checkbox" class="selected-file" data-id="@item.Id" /></td>
        @*<td>@count</td>*@
        <td><a href="javascript:void(0)" @*class="edit-file-upload"*@ data-id="@item.Id">@item.Ten</a></td>
        <td>@item.DuoiFile</td>
        <td>@(item.GetFolder == null ? "Không tìm thấy danh mục" : item.GetFolder.Ten)</td>
        <td>@(item.GetNguoiTao == null ? "Không tìm thấy người tạo" : item.GetNguoiTao.UserName)</td>
        <td>@item.NgayTao</td>
        <td>@item.SoLuotTai</td>
        @if (isQuyenDownload)
        {
            <td><a href="@item.DuongDan">Download</a></td>
        }
        else
        {
            <td><a href="javascript:void(0)">Chức năng trả phí</a></td>
        }

    </tr>
            <tr>
                <td colspan="12" style="padding: 0 !important;">
                    <div class="panel-collapse collapse" id="row_@item.Id">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td style="width:80%">@Html.Raw(item.MoTa)</td>
                                    <td>
                                        <div class="btn-group" name="group-button-action">
                                            <button type="button" class="btn btn-default btn-flat edit-file-upload" data-id="@item.Id"><i class="fa fa-fw fa-edit"></i> Chỉnh sửa</button>
                                            <button type="button" class="btn btn-default btn-flat dong-bo-du-lieu-file-upload" data-id="@item.Id"><i class="fa fa-fw fa-edit"></i> Đồng bộ dữ liệu</button>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        

                </td>
                
            </tr>
        }
    </tbody>

</table>

