﻿@using CoreMigroup.Models
@using CoreMigroup.Repository.FileUploadRepository
@using CoreMigroup.Repository.FolderRepository;
@inject IFileUploadRepository _fileRepo;
@inject IFolderRepository _folderRepo;
@model FileUpload;
<div class="modal-dialog modal-lg">
    <form class="modal-content" id="save-file-upload-form" data-id="@Model.Id">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Phân quyền</h4>
        </div>
        <div class="modal-body" id="binding-phan-quyen">
            <div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="txt-ten-file-upload">Tên file</label>
                        <input type="text" class="form-control" id="txt-ten-file-upload" name="txt-ten-file-upload" placeholder="Nhập tên file" value="@Model.Ten">
                    </div>
                    <div class="form-group">
                        <label for="txt-mo-ta-file-upload">Mô tả</label>
                        <textarea id="txt-mo-ta-file-upload" class="form-control" name="txt-mo-ta-file-upload" rows="5">@Model.MoTa</textarea>
                        @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">*@
                    </div>

                    <div class="form-group">
                        <label for="f-chon-file-upload">Chọn danh mục</label>
                        @{ 
                            var lsFolder = _folderRepo.GetAll().Where(r => r.IsDaXoa != true && r.IsFolderCategory == true);
                            var q = from l in lsFolder select new { value = l.Id, tag = l.Ten };


                        }
                        @*<select class="form-control" id="slb-folder-file-upload" name="search-folder" data-placeholder="Chọn danh mục file"
                                    style="width: 100%;">
                                @{
                                    var lsFolder = _folderRepo.GetAll().Where(r => r.IsDaXoa != true);
                                    foreach (var item in lsFolder)
                                    {
                                        if (item.Id == Model.FolderId)
                                        {
                                            <option value="@item.Id" selected>@item.Ten</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Ten</option>
                                        }

                                    }
                                }
                            </select>*@
                        <input type="text" class="form-control" id="tag-folder" data-danhmuc="@Newtonsoft.Json.JsonConvert.SerializeObject(q)">

                    </div>
                    <div class="form-group">
                        <label for="f-chon-file-upload">Chọn file</label>
                        <input type="file" id="f-chon-file-upload" name="f-chon-file-upload" value="@Model.DuongDan" class="form-control">
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Đóng</button>
            <button type="submit" id="luu-file-upload" data-id="@Model.Id" class="btn btn-success">Lưu</button>
        </div>
    </form>
    <!-- /.modal-content -->
</div>

