﻿@using CoreMigroup.Repository.UserRoleRepository;
@using CoreMigroup.Helper;
@using CoreMigroup.Enum;
@inject IUserHelper _userHelper;
@inject IUserRoleRepository _userRoleRepo;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = _userHelper.GetCurrentUserAsync().Result;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Nhà cung cấp

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-10 col-sm-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="search-folder">
                                    Keyword
                                </label>
                                @*<input type="text" name="search-folder" id="txtSearch" class="form-control" placeholder="Nhập keyword cần tìm kiếm" />*@
                                <input type="text" name="search-folder" class="form-control" id="txb-keyword-khach-hang" placeholder="Nhập keyword cần tìm kiếm" value=""/>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="group-button-action">Hành động</label> <br />
                                <div class="btn-group" name="group-button-action">
                                    @if (_userRoleRepo.CheckRoleByRoleNameAndUserId(user.Id, TenRoleEnum.Admin.ToString()))
                                    {


                                        <button type="button" class="btn btn-default btn-flat" id="btn-tim-kiem-ncc"><i class="fa fa-search"></i></button>
                                        <button type="button" class="btn btn-default btn-flat" id="btn-create-ncc"><i class="fa fa-upload"></i></button>
                                        <button type="button" class="btn btn-default btn-flat" id="btn-delete"><i class="fa fa-trash"></i></button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-default btn-flat" id="btn-tim-kiem-file"><i class="fa fa-search"></i></button>
                                        @*<button type="button" class="btn btn-default btn-flat open-upload-files-component"><i class="fa fa-upload"></i></button>*@
                                        @*<button type="button" class="btn btn-default btn-flat delete_file "><i class="fa fa-trash"></i></button>*@
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="box-body table-responsive no-padding binding-data " id="tbl-file-upload">
                @*@await Component.InvokeAsync("GetListKhachHang", new { request = new param_KhachHang()})*@
            </div>

            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <div class="binding-phan-trang"></div>

                <ul class="pagination pagination-sm no-margin pull-right">

                    @*<li><a href="javascript:void(0)">«</a></li>
                        <li><a href="javascript:void(0)">1</a></li>
                        <li><a href="javascript:void(0)">2</a></li>
                        <li><a href="javascript:void(0)">3</a></li>
                        <li><a href="javascript:void(0)">»</a></li>*@

                </ul>
            </div>
            <!-- /.box-footer-->
        </div>

    </section>
    <div class="modal fade" id="save-nha-cung-cap-modal">

    </div>
    <!-- /.content -->
</div>
@section scripts{

    <script src="~/js/controller/NhaCungCapController.js"></script>
}

