﻿@using CoreMigroup.Repository.UserRepository;
@using CoreMigroup.Enum;
@using CoreMigroup.Helper;
@inject IUserRepository _userRepository
@inject IUserHelper _userHelper
@model ApplicationUser
@{
    var userId = (int)ViewBag.UserId;

    //lay theo Id(cách 2)
    var byUserId = _userRepository.GetByIdUser(userId);

}
@if (Model != null)
{
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>@Model.Id</p>
                <p>@Model.TenDayDu</p>           
                <p>@Model.Email</p>
                <p>@Model.LoaiUser</p>
                <p>@Model.PhoneNumber</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

}