﻿@using CoreMigroup.Repository.UserRepository
@using CoreMigroup.Models
@model List<ApplicationUser>
@{ 
    var total = int.Parse(ViewBag.Total.ToString()); 
    var index = int.Parse(ViewBag.Index.ToString());
    var size = int.Parse(ViewBag.Size.ToString());
}
<div class="chi-tiet-phan-trang" data-index="@index" data-size="@size" data-total="@total" style="display:none;"></div>
<table class="table table-bordered">
    <tbody>
        <tr class="header">
            <th style="width: 10px">#</th>
            <th style="width: 10px">STT</th>
            <th>Tên user</th>
            <th>Email</th>
            <th>Loại user</th>
            <th>Ngày tạo</th>
            <th></th>
            @*<th style="width: 40px">Label</th>*@
        </tr>
        @{
            var count = 0;
        }
        @foreach (var item in Model)
        {
            count++;
            <tr class="item-file" data-id="@item.Id">
                <td><input type="checkbox" class="selected-user" data-id="@item.Id" /></td>
                <td>@count</td>
                <td><a href="javascript:void(0)" class="detail" data-userid="@item.Id"> @(string.IsNullOrEmpty(item.TenDayDu) ? item.UserName : item.TenDayDu)</a></td>
                <td>@item.UserName</td>
                <td>@item.LoaiUser</td>
                <td>@DateTime.Now</td>
                <td>
                    <table>

                        <tbody>
                            <tr>
                                <td style="margin: 0 auto">
                                    <label>Phân quyền</label>
                                    <div style="margin:0 auto;">
                                        <a href="javascript:void(0)" class="open-modal-phan-quyen" data-userid="@item.Id">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            count++;
        }
    </tbody>

</table>
