﻿@using CoreMigroup.Repository.UserRoleRepository;
@using CoreMigroup.Enum;
@using CoreMigroup.Helper;
@inject IUserRoleRepository _userRoleRepository;
@inject IUserHelper _userHelper;
@model List<ApplicationRole>
@{
    var userId = (int)ViewBag.UserId;
    var id2 = _userHelper.GetCurrentUserAsync().Result.Id;
}
@if (Model.Count > 0)
{
    var lsQuyenByUserId = _userRoleRepository.GetAllRoleIdsByUserId(userId);
    var user = ViewBag.UserId;
    var lsQuyenAll = Model.Where(r => r.IsFullQuyen == 1);
    var lsQuyenCha = Model.Where(r => r.IsFullQuyen == 0 && r.ParentId == 0);

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Phân quyền</h4>
            </div>
            <div class="modal-body" id="binding-phan-quyen">
                <div class="row">
                    @foreach (var item in lsQuyenAll)
                    {
                        var cked = "";
                        if (lsQuyenByUserId.Contains(item.Id))
                        {
                            cked = "checked";
                        }
                        <div class="col-md-3 col-sm-6">
                            <input type="checkbox" class="cbx-quyen-all" data-roleid="@item.Id" @cked />    <label><b>@item.Name</b></label>
                        </div>
                    }
                </div>
                <hr />
                <div class="row">
                    @foreach (var item in lsQuyenCha)
                    {
                        var cked = "";
                        if (lsQuyenByUserId.Contains(item.Id))
                        {
                            cked = "checked";
                        }
                        <div class="col-md-3 col-sm-12">
                            <input type="checkbox" class="cbx-quyen-cha" data-roleid="@item.Id" @cked />    <label><b>@item.Name</b></label>
                            <ul>
                                @{

                                    var lsQuyenCon = Model.Where(r => r.ParentId == item.Id);
                                    foreach (var q in lsQuyenCon)
                                    {
                                        var cked_con = "";
                                        if (lsQuyenByUserId.Contains(q.Id))
                                        {
                                            cked_con = "checked";
                                        }
                                        <li><input type="checkbox" class="cbx-quyen-con" data-roleid="@q.Id" @cked_con /> <span>@q.Name </span></li>
                                    }
                                }
                            </ul>
                        </div>
                    }

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Đóng</button>
                @if (_userRoleRepository.CheckRoleByRoleNameAndUserId(id2, TenRoleEnum.ThemSuaXoaUser.ToString()))
                {
                    <button type="button" id="luu-quyen-user" data-userid="@userId" class="btn btn-success">Lưu</button>
                }

            </div>
        </div>
        <!-- /.modal-content -->
    </div>


}
