﻿@page
@model IndexModel
@using CoreMigroup.Helper
@inject IUserHelper _userHelper
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = _userHelper.GetCurrentUserAsync().Result;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">User profile</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <div>
                            <a href="javascript:void(0)" id="openFile">
                                <img class="profile-user-img img-responsive img-circle" src="@(string.IsNullOrEmpty(user.ImagePath) ? "/AdminLTE-2.4.18/dist/img/user4-128x128.jpg" : user.ImagePath)" alt="User profile picture">
                            </a>
                            <input type="file" name="upload" id="ImageUpload" accept="image/*" value="" style="display: none" />
                        </div>
                        <h3 class="profile-username text-center">@user.TenDayDu</h3>

                        <p class="text-muted text-center">@user.Email</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Followers</b> <a class="pull-right">1,322</a>
                            </li>
                            <li class="list-group-item">
                                <b>Following</b> <a class="pull-right">543</a>
                            </li>
                            <li class="list-group-item">
                                <b>Friends</b> <a class="pull-right">13,287</a>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
                        <li><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
                        <li class="active"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>


                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="timeline">
                            <!-- The timeline -->

                        </div>
                        <!-- /.tab-pane -->

                        <div class="active tab-pane" id="settings">
                            <partial name="_StatusMessage" model="Model.StatusMessage" />
                            <form class="form-horizontal" id="profile-form" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="inputName" asp-for="Username" class="col-sm-2 control-label"></label>

                                    <div class="col-sm-10">
                                        <input type="email" asp-for="Username" class="form-control" id="inputName" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" asp-for="Input.PhoneNumber" class="col-sm-2 control-label"></label>

                                    <div class="col-sm-10">
                                        <input asp-for="Input.PhoneNumber" class="form-control" />
                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" asp-for="Input.TenDayDu" class="col-sm-2 control-label">Name</label>

                                    <div class="col-sm-10">
                                        <input asp-for="Input.TenDayDu" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress" asp-for="Input.Address" class="col-sm-2 control-label">Address</label>

                                    <div class="col-sm-10">
                                        <input asp-for="Input.Address" class="form-control" placeholder="số 10 ,đường A/xóm, quận/huyện,thành phố A ">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputIDCard" asp-for="Input.IDCard" class="col-sm-2 control-label">ID card</label>

                                    <div class="col-sm-10">
                                        <input asp-for="Input.IDCard" class="form-control" placeholder="0370001*****">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button id="update-profile-button" type="submit" class="btn btn-danger">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>

@*<partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>*@
@await Component.InvokeAsync("QuanLyFile")
@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@
    <script src="~/js/controller/profileController.js"></script>
}